<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  autoReload="true" internalLogLevel="Trace">

	<targets>
		<target
		  name="LogFile"
		  xsi:type="File"
		  fileName="c:/nlog/LeadUpdater-${shortdate}.txt"
		  layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}">
		</target>
		<target
		  name="LogConsole"
		  xsi:type="Console">
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="LogFile" />
		<logger name="*" minlevel="Info" writeTo="LogConsole" />
	</rules>
</nlog>